<div class="min-h-screen flex flex-col items-center justify-center bg-[#fdfcf9]" dir="rtl">
  <h1 class="text-6xl font-bold text-green-900 mb-4">404</h1>
  <p class="text-xl text-gray-700 mb-6">الصفحة التي تبحث عنها غير موجودة!</p>
  <button (click)="goHome()"
          class="bg-green-900 text-white cursor-pointer py-3 px-6 rounded-lg hover:bg-green-800 transition">
    العودة للصفحة الرئيسية
  </button>

  
 <div *ngIf="isLoading" class="fixed inset-0 flex items-center justify-center bg-white bg-opacity-30 z-50">
    <svg class="animate-spin h-16 w-16 text-green-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8z"></path>
    </svg>
  </div>
</div>
