<footer class=" bg-white/80 backdrop-blur-md shadow-sm ">
  <div
    class="max-w-7xl mx-auto px-2 flex items-center justify-center gap-2 text-[10px] text-gray-600"
    dir="rtl"
  >
    
    <img
      src="NTG Logo.png"
      alt="NTG Logo"
      class="h-12 w-auto"
    />

    
    <p class="text-gray-600 text-m  ">
      © 2025 ميراثي. جميع الحقوق محفوظة
    </p>

    
    <p class="text-gray-700 font-medium">
      لشركة <a href="https://ntgclarity.com"> <span class= "text-red-800"> NTG</span>
    </a>
    </p>
  </div>
</footer>
