<nav class="bg-white/80 backdrop-blur-md shadow-sm ">
  <div
    class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between"
    dir="rtl"
  >
   
    <div class="flex items-center gap-2">
      <img src="LOGO.png" alt="Logo" class="h-10 w-auto" />
    </div>

    
    <div class="flex items-center gap-12">
     
      <ul class="flex items-center gap-8 text-gray-700 font-medium">
        <li class="hover:text-green-700 cursor-pointer">
          <a routerLink="/home" routerLinkActive="text-green-700">الرئيسية</a>
        </li>

        <li class="hover:text-green-700 cursor-pointer">
          <a routerLink="/about" routerLinkActive="text-green-700">عن الموقع</a>
        </li>

        <li
          *ngIf="authService.isLoggedIn$() as isLoggedIn"
          [ngClass]="{ 'hover:text-green-700 cursor-pointer': isLoggedIn }"
        >
          <a
            *ngIf="isLoggedIn"
            routerLink="/history"
            routerLinkActive="text-green-700"
          >
            السجل
          </a>
        </li>

        <li class="hover:text-green-700 cursor-pointer">
          <a routerLink="/contact" routerLinkActive="text-green-700">
            اتصل بنا
          </a>
        </li>
      </ul>

      
      <div class="flex items-center gap-4">
        <a *ngIf="!(authService.isLoggedIn$())" routerLink="/login">
          <button
            class="bg-green-900 text-white px-5 py-2 cursor-pointer rounded-md hover:bg-green-800 transition"
          >
            تسجيل الدخول
          </button>
        </a>

        <button
          *ngIf="authService.isLoggedIn$()"
          (click)="logout()"
          class="bg-red-600 text-white px-5 py-2 cursor-pointer rounded-md hover:bg-red-700 transition"
        >
          تسجيل الخروج
        </button>
      </div>
    </div>
  </div>
</nav>
